streamlit==1.27.0
anthropic
chardet
dataclasses-json
streamlit-extras
extra-streamlit-components
fsspec
hydralit-components
langsmith
nest-asyncio
numexpr
nx-altair
openai
openpyxl
pip-chill
pympler
sqlalchemy
streamlit-ace
streamlit-datalist
streamlit-option-menu
streamlit-pandas-profiling
tabulate
threadpoolctl
tiktoken
youtube-search
youtube-transcript-api
