anthropic
chardet
extra-streamlit-components
hydralit-components
llama-index
nx-altair
openpyxl
pip-chill
scikit-learn
streamlit-ace
streamlit-datalist
streamlit-option-menu
streamlit-pandas-profiling
tabulate
youtube-search
youtube-transcript-api
